<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @gym.Date %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @gym.Workout %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym), {:style => 'color:#FFF'} %> |
<%= link_to 'Show workouts', gyms_path,  {:style => 'color:#FFF'} %>
